@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  
}

:root {
  --azul: #5bc2c2;
  --naranja: #e34929;
  --negro: #202020;
  --blanco: #ffffff;
}

body {
  background-color: var(--dark-color-lighten);
  max-width: 100%
}
